@import './components/variables';
@import './components/cards';

body {
    background-color: $background-primary;
    color: $text-primary;

    h1,
    h2 {
        text-align: center;
        padding: 40px;
    }

    #boutique {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .boutique-items {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            align-items: center;
            width: 80%;
            margin: auto;
        }
    }

    .action_container {
        padding: 15px;
        min-width: 10%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .btn {
            width: 100%;
        }
    }

    .btn {
        min-width: 100px;
        margin: 2px;
    }

}