.card {
  background-color: #f2f2f2;
  border: solid 1px black;
  border-radius: 5%;
  margin: 8px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 320px;
  max-width: 50%;
  min-width: 260px;
  min-height: 15vh;
  height: 285px;
}
.card_name {
  color: #4d4d4d;
  text-decoration: underline;
  font-weight: bold;
}
.card_price {
  font-size: 1.5em;
}
.card_description {
  font-size: 0.9em;
}
.card_btn_modify {
  max-width: 45%;
  width: 118px;
}
.card_btn_modify:hover {
  border: solid 2px black;
}
.card_btn_delete {
  width: 118px;
}
.card_btn_delete:hover {
  border: solid 2px black;
}
.card .btn_container {
  display: flex;
  justify-content: space-around;
  max-height: 40px;
  width: 100%;
}
.card img {
  max-width: 50%;
  max-height: 85px;
  min-height: 15%;
  width: auto;
}

body {
  background-color: black;
  color: #b3b3b3;
}
body .container-fluid {
  min-height: 100vh;
}
body h1,
body h2 {
  text-align: center;
  padding: 40px;
}
body form {
  min-width: 300px;
  width: 100%;
  max-width: 600px;
}
body #boutique {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body #boutique .boutique-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-left: 5%;
}
body .action_container {
  padding: 15px;
  min-width: 12%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 5%;
}
body .action_container .btn {
  width: 100%;
}
body .btn {
  min-width: 100px;
  margin: 2px;
}
body footer {
  position: relative;
  bottom: 80px;
}

.error {
  font-weight: bold;
  text-align: center;
  color: red;
}