body {
    background-color: #00FFFF;

    section {
        width: 100%;
    }

    #boutique {
        min-width: 95%;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

    }

    .boutique-items {
        min-width: 70%;
        width: auto;
        max-width: 90%;
    }
}

.card {
    border: solid 1px black;
    border-radius: 5%;
    margin: 2%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &_name {
        color: darken($color: grey, $amount: 20);
        text-decoration: underline;
        font-weight: bold;
    }

    &_price {
        font-size: 1.5em;
        position: relative;
        left: 90%;
    }

    &_description {
        font-size: 0.9em;
    }

    &_btn_modify {
        max-width: 50%;
        width: 114px;
        position: relative;
        left: calc(92% - 230px);
    }

    &_btn_delete {
        max-width: 50%;
        width: 114px;
        position: relative;
        left: calc(95% - 114px);

        &:hover {
            transform: scale(1.1);
        }
    }

}